body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.login-container {
  min-height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.login-container p {
  color: gray;
  margin-top: 0;
}

.login-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #003b71;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
}

.sign-up {
  color: #667085;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background: #667085;
}

.btn-primary:hover {
  background: #51596a;
}

.split {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.split div {
  display: flex;
  align-items: center;
}

.arrt {
  color: #728faa;
  position: absolute;
  left: 20rem;
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7819502801120448) 0%,
    rgba(0, 0, 0, 0.06766456582633051) 100%
  );
  z-index: 2;
}

.memory-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
}

.img {
  border-radius: 4px;
  margin-bottom: 10px;
}

.imageText {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: medium;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hold {
  transform: scale(1.1);
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
}

